@{
    var Title = "About Us";

}

<div class="about-wrapper">
    <div class="container">
        <div class="row">
            <div class="introduction col-12">
                <h1>Hi, I'm Usama,</h1>
                <p>a freelance web developer specialized in</p>
                <h2>front-end and back-end development.</h2>

            </div>
            <div class="breif-intro col-12">
                <p><b>A <span>Full Stack Web Developer</span> with over <span>3 years of experience </span></b></p>
                <p>I have customized, developed and launched <a href="/projects">multiple projects</a> from scratch, carrying the development of its' back-end and front-end codebases.</p>
                <div class="toolset">
                    My current toolset includes Javascript, <span>C#</span>, <span>React.js</span>, Redux, <span>Asp.net</span>, PHP, <span>Laravel</span>,<span>WordPress</span>, <span>Liquid (Shopify)</span> and all the other various frameworks, libraries and technologies related to them.

                </div>
                <div class="my-services">
                    <b> I can help you with all the sides of your project:</b>
                    <ul>
                        <li>UI/UX Design for your Website.</li>
                        <li>leading/co-developing the back-end and front-end. </li>
                        <li>Customizing an existing Project.</li>
                        <li>Latest E-commerce enterpise solutions.</li>
                        <li>Monitoring, maintining and launching the project.</li>
                    </ul>
                </div>
            </div>
            <span class="break-line"></span>

            <div class="front-end end">
                <div class="end-heading"><h3><span class="end-image"><img src="~/images/frontend.png"></span>FRONT-END WEB DEVELOPMENT</h3></div>
                <p>I write the Front-end of Application using JavaScript/React, Bootstrap 4 and HTML5/CSS3. I also have coded many application using SASS. I also worked alot in Wordpress, Joomla and drupal. If I talk about Best E-commerce platform, I am huge fan of Shopify, a very user-friendly E-commerce platform. I can also develop shopify themes from scratch using Liquid template language.</p>
                <ul>
                    <p>     My current experience and skills in front-end includes:</p>

                    <li>lead JavaScript development: bootstraping, refactoring, improving the structure, reliability, build setup</li>
                    <li>Good sense of UI and UX,</li>
  <li>Full integration of front-end development using tools like SAAS, React, WordPress/Shopify, Bootstrap 4</li>
                    <li>Huge Expereince in E-commerce Platform like Shopify & Wordpress, Shopify/WordPress Theme Customization, Shopify/WordPress Theme Development from Scratch and integration of any new functionality in existing Application.</li>
                    <li>Adobe Muse Website Designing.</li>

                </ul>
            </div>
            <span class="break-line"></span>
            <div class="back-end end">
                <div class="end-heading"><h3><span class="end-image"><img src="~/images/back-end.png"></span>BACK-END WEB DEVELOPMENT</h3></div>
                <p>In back-end development, my current stack involves Asp.net and Laravel Framework, and alternatively C# or PHP.</p>
                <ul>
                    <p>  My Back-end Services are:</p>
                    <li>Custom Back-end functionality in any existing website</li>
                    <li>Full Back-end development of a website using Asp.net or PHP/Laravel and WEb API </li>
                    <li>Refactoring existing applications, by improving code readibility, separating concerns into separate functions/classes, taking the business logic out from your request/response layer into separate modules </li>
                    <li>Using different databases tyes (MSSQL Server, MySQL, Oracle, NoSQL (Firebase))</li>

                </ul>
            </div>
            <span class="break-line"></span>
            <div class="extras">
                <p>If your initial thought is that I can’t be the best in everything, it's okay. Send the design job to someone else, and I will take care of all the code development, or whatever other role you see me best in.</p>
                <p>In cases when you already have an existing team, but you would still use some help, contact me as well. I’ll fit in very quickly.</p>
            </div>
        </div>

    </div>



</div>