
@{
    ViewBag.Message = "Resume";
}

<div class="resume-wrapper">

    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto mt-5">

                <img src="~/images/resume.jpg" class="img-fluid" />
            </div>

        </div>
    </div>
</div>